/* reset styles */
ul {
    margin:0;
    padding: 0;
}

li,
h3 {
    list-style: none;
}

input,
button{
    outline: none;
}
/* Basic Style */
.body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.main {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.task {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.new-task-wrap {
    display: flex;
}

.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.header__img {
    width: 100%;
}

.header__link {
    font-family: fantasy, cursive;
}

.btn {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.btn:hover {
    color: #3a3a3a;
}

/* Heading */
.list-name,
.add-item__title {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.list-item__text,
.add-item__text {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #dDd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.list-item__text:focus,
.add-item__text:focus {
    color: #333;
}

/* New Task */
.add-item__title {
    display: block;
    margin: 0 0 20px;
}

.add-item__text {
    width: 318px;
}

/* Task list */
.list-item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item__checkbox,
.list-item__label,
.list-item__text,
.edit,
.delit {
    vertical-align: middle;
}

.list-item__checkbox {
    margin: 0 10px;
}

.list-item__label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.list-item__text {
    width: 226px;
}

.delete-img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.delete-img:hover {
    transform: rotateZ(0);
}

/* Completed */
.list-item__label--completed {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.list-item__text {
    display: none;
}

.list-item__text--edit {
    display: inline-block;
    width: 224px;
}

.list-item__label--edit {
    display: none;
}

/* media */
@media (max-width:768px) {
    .header {
        text-align: center;
    }
}
